.cards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cards__list {
  display: flex;
  padding-left: 0px;
}

.card_item {
  list-style-type: none;
  width: 4.5rem;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
}

.card_item:hover {
  cursor: pointer;
  border: 1px solid orange;
}

.card_item-active {
  background-image: linear-gradient(orange, yellow);
}

.card_item__link {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 0.7rem;
}